.container {
  background-color: black;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: rgb(14, 127, 233);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.header__1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: rgb(207, 151, 38);
  font-weight: 500;
  text-transform: uppercase;
  font-stretch: extra-condensed;
  border: 1px solid rgb(14, 127, 233);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  padding: 10px 10px;
}

input {
  width: 300px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 0px;
  outline: none;
  background-color: black;
  color: #dfeaf7;
  transition: border-color 0.2s;
}
.btn {
  width: 320px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  text-transform: uppercase;

  outline: none;
}
